[submodule "LocalTest/foundry-app/lib/forge-std"]
	path = LocalTest/foundry-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-ipfs/foundry-app/lib/forge-std"]
	path = nft-ipfs/foundry-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-ipfs/foundry-app/lib/openzeppelin-contracts"]
	path = nft-ipfs/foundry-app/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
